// Define variables for your color scheme

// WineFinder colors
$LightGrey: #EFEFEF;
$Grey: #E0E0E0;
$Black: #000000;
$White: #FFFFFF;
$PinkishGrey: #EAE6E2;
$LightPink: #FAF6F2;
$LightBurgundy: #C38B87;
$Burgundy: #723531;
$DarkBurgundy: #481D1B;
$Yellow: #FFC806;
$DarkGrey: #747474;
