.article-image {
  text-align: center;
  margin-top: 20px;
  z-index: 1;
  margin-bottom: -55px;
}

.article-content {
  background-color: $LightBurgundy;
  border-radius: 26px;
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px;
  padding-top: 80px;
}

.article-content h1 {
  text-align: center;
  padding-bottom: 20px;
}

.article-content h2 {
  text-align: center;
}

.article-content p {
  line-height: 1.6;
}

.btn {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
}

.article-divider {
  border-bottom: 1px solid $LightPink;
  margin: 20px auto;
  width: 75%;
}
