// Specific CSS for your home-page

.article-card {
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

.homepage-divider {
  margin-bottom: -23px;
}

.fancy {
  margin-top: 13px;
}

.typer-field {
  height: 60px;
}

// .type-writer-cursor {
//   color: $DarkBurgundy;
// }
