

<div class="page-title-box container">
  <div class='row justify-content-center align-items-center'>
    <h1>Here's what we found: </h1>
  </div>
  <div class='row justify-content-center align-items-center'>
    <div id="button-form">
      <%= link_to(pages_search_path(:color => params[:color], :address => params[:address], :price => params[:price], :quantity => params[:quantity], :food_id => params[:food_id]), class: "btn btn-flat btn-search") do %>
        Modify Search
      <% end %>
    </div>
  </div>
</div>

<%# wine cards %>
<div class='d-flex flex-column wine-cards' >
  <% @recommendations.each do |inventory| %>
    <%= render 'shared/wine_card', inventory: inventory%>
  <% end %>
</div>
