

<div class="container">
  <h1 style="text-align:center">Here's what we found for you: </h1>
  <div class='row justify-content-center align-items-center'>
    <div id="button-form">
    <%= link_to(pages_search_path, class: "btn btn-flat") do %>
        Edit Search
      <% end %>
    </div><br>
  </div>
</div>

<%# wine cards %>
<div class='d-flex flex-column wine-cards' >
  <% @top_five.each do |wine| %>
    <%= render 'shared/wine_card', wine: wine%>
  <% end %>
</div>
