<h1>Index page</h1>

<ol>
  <% @wines.each do |wine| %>
    <li><%= wine.name %>
        <%= wine.price %>
        <%= wine.color %></li>
  <% end %>
</ol>
<% @foods.each do |food| %>
  <%= food.name %>
<% end %>
