<h1>Index page</h1>

<ol>
  <% @recommendations.each do |wine| %>
    <li><%= wine.name %>
        <%= wine.price %>
        <%= wine.color %>
        <% wine.foods.each do |food| %>
          <%= food.name %>
        <% end %></li>
  <% end %>
</ol>
