<div class="container">
  <h1 style="text-align:center">Here's what we found:</h1>
  <div id="button-form">
   <%= link_to(pages_search_path, class: "btn btn-flat") do %>
      Edit Search
    <% end %>
  </div><br>
</div>


<div class='d-flex flex-column wine-cards' >
  <% @top_five.each do |wine| %>
    <%= render 'shared/wine_card_small', wine: wine%>
  <% end %>
</div>
