<h1>Your wine is here</h1>
<%= image_tag ("map.png"), class: "img-responsive, img", style:"height: 200px" %>
 <%= link_to(pages_search_path, class: "btn btn-flat") do %>
      Find another bottle
    <% end %>
