<%= params = {
  address: 'case couilles international inc',
  food_id: '15',
  price: '25',
  quantity: 1
} %>

<div class='d-flex flex-column wine-cards' >
  <div style='position:relative;'>
    <%= render 'shared/wine_card_small', inventory: @inventory %>
    <%# <div class = 'wine_card_intermediate'></div> %>
    <%= render 'shared/wine_card_large', inventory: @inventory %>
  </div>
</div>
