<!-- Image and text -->
<nav id="nav-custom" class="navbar navbar-light bg-light">
  <%= link_to(root_path, class: 'navbar-brand', id: 'navbar-header') do %>
    <%= image_tag "winefinder_logo.png", class: 'nav-bar' %>
    WineFinder
  <% end %>
  <hr>
</nav>
