<%# <% wine = Wine.new %>
<%# <% wine.image_url = 'https://www.saq.com/media/catalog/product/1/4/14234094-1_1578554708.png?quality=80&fit=bounds&height=166&width=111&canvas=111:166' %> %>
<%# <% wine.name = 'Alceno Monastrell' %>
<%# <% wine.color = 'red' %>
<%# <% wine.region = 'France, toulouse blablabla' %>
<%# <% wine.price = 25 %>
<%# <% wine.rating = 80 %>

<div class='d-flex flex-column wine-cards' >


</div>
