
<%# Displays small and large cards %>
<div>
  <%= render 'shared/wine_card_small', inventory: inventory %>
  <%# <div class = 'wine_card_intermediate'></div> %>
  <%= render 'shared/wine_card_large', inventory: inventory %>
</div>
