<div class='d-flex flex-row wine-card-small' style='margin-left:20px; margin-top:20px;'>
  <div class='img-box d-flex justify-content-center align-items-center'>
    <img src="https://www.saq.com/media/catalog/product/1/3/13584455-1_1578538222.png?quality=80&fit=bounds&height=166&width=111&canvas=111:166" alt="bottle image">
  </div>
  <div>
    <p>test</p>
  </div>










</div>
