<div class="banner">
  <div class="container">
    <h1>WineFinder</h1>
    <p>Let’s find the perfect wine for your occasion.</p>
    <%= link_to(pages_search_path, class: "btn btn-flat") do %>
      Find Wine
    <% end %>
  </div>
</div>

<hr><div id="title"><h2>Discover</h2></div><hr>

<div class="card-product">
  <%= image_tag "article_image_1.jpeg" %>
  <div class="card-product-infos">
    <h2>Rosé for brunch</h2>
    <p>What is the best time of day to enjoy rosé? We suggest its best to toast with a glass of rosé over brunch...</p>
  </div>
</div>
