<div class="banner">
  <div class="container">
    <h1>WineFinder</h1>
    <p>Let’s find the perfect wine for your occasion.</p>
    <%= link_to(pages_search_path, class: "btn btn-flat") do %>
      Find Wine
    <% end %>
  </div>
</div>
