<div class="container">
<h1 style="text-align:center">Tell us a bit more about what you’re looking for?</h1>
  <form action="/recommendations" method="Get">
    <label>What will you have to eat?</label>
    <%= select_tag "food_id", options_from_collection_for_select(Food.all, "id", "name"), include_blank: false, selected: Food.first, class:"form-control" %>
  <div class="form-group">
    <label for="exampleFormControlSelect1">What's your maximum budget?</label>
    <select id="price" name="price" class="form-control" id="exampleFormControlSelect1">
      <option>15</option>
      <option>20</option>
      <option>25</option>
      <option>30</option>
      <option>35</option>
      <option>40</option>
      <option>45</option>
      <option>50</option>
    </select>
    <label for="exampleFormControlSelect1">What wine color are you looking for?</label>
    <select id="color" name="color" class="form-control" id="exampleFormControlSelect1">
      <option>White</option>
      <option>Red</option>
      <option>Rose</option>
    </select>
    <label for="exampleFormControlSelect2">How many bottle do you want?</label>
    <select id="quantity" name="quantity" class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
  </div>
  <div id="button-form">
    <input class="btn btn-secondary" type="submit" value="Search">
  </div>
  </div>
