<h1>Search page</h1>
<ul>
  <form action="/recommendations" method="Get">
    <li><input type="text" name="zipcode"></li>
    <li><%= select_tag "food_id", options_from_collection_for_select(Food.all, "id", "name"), include_blank: true  %></li>
    <%# Select a range of price %>
    <li>Price</li>
    <li><select id="price" name="price"><option>10-15</option><option>15-20</option>
        <option>20-30</option><option>30+</option></select>
    </li>
    <li><%= select_tag "color", options_from_collection_for_select(Food.all, "id", "name"), include_blank: true  %></li>
    <%= link_to "Find wine", recommendations_path, class: "btn btn-primary"%>
</ul>
