/* Button */

.btn {
padding: 2px 15px;
width: 128px;
left: 28px;
top: 336px;
border: none;
background: $Burgundy;
box-shadow: 0.5px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 5px;

&:hover {
    background-color: $DarkBurgundy;
    color: $White;
  }
}

#button-form {
  display: flex;
  justify-content: center;
}
