/* Button */

.btn {
padding: 6px 15px;
border: none;
background: $Burgundy;
box-shadow: 0.5px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-weight: bold;

&:hover {
    background-color: $DarkBurgundy;
    color: $White;
  }
}

.btn-form {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}

.btn-opacity {
  opacity: 80%;
}

#results-button {
  width: 170px;
}

#results-button:disabled {
  background-color: $Burgundy;
}

.map-return-btn {
  margin-top: 20px;
  margin-bottom: -25px;
}
