.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-divider {
  border-bottom: 1px solid $LightPink;
  // margin: 5px auto;
  // width: 50%;
}
