.nav-bar {
  height: 30px;
  width: 30px;
}

#nav-custom {
  background-color: $NavPink !important;
  display: flex;
  height: 32px;
}

hr {
  flex-grow: 1;
  border: solid 1px;
  color: $DarkBurgundy;
}
