.wine-card-small {
  width: 345px;
  height: 174px;
  background: $LightPink;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.wine-card-small > .img-box {
  width: 109px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: $Grey;
  border-radius: 10px 0px 0px 10px;
}

.wine-card-small > .img-box > img {
  height: 160px;
}

.wine-card-small .title-box {
  background-color: $Burgundy;
  color: $LightPink;
  border-radius: 0px 10px 0px 0px;
  padding: 5px;
}
