// cards container
.wine-cards {
  justify-content: space-between;
  padding: 17px;

  p {
    margin:0px;
  }
}

// shared
.wine-card {
  margin: 17px;
  width: 310px;
  background: $LightPink;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  > .img-box {
    background-color: $Grey;
  }

  .title-box {
    background-color: $Burgundy;
    padding: 4.5px;
    > p {
      color: $LightPink;
      font-weight: bold;
    }
  }

  .price-box {
    background-color:$LightBurgundy;
    p {
      color: $LightPink;
      font-size: 21.6px;
    }
  }

  .wine-info {
    font-size: 14.4px;
    font-weight: bold;
    flex-grow: 1;
    padding: 9px;
    .tag {
      margin-right: 2px;
      white-space: nowrap;
    }
    .content {
      color: $DarkGrey;
    }
  }

  .star {
    margin: 1.5px;
    font-size: 19px;
  }

  .star_yellow {
    color: $Yellow;
  }

  .star_grey {
    color: $DarkGrey;
  }
}

// small cards
.wine-card-small {
  height: 157px;

  > .img-box {
    width: 98px;
    padding-top: 6.3px;
    padding-bottom: 6.3px;
    border-radius: 10px 0px 0px 10px;
    > img {
      height: 144px;
    }
  }

  .title-box {
    border-radius: 0px 10px 0px 0px;
    > p {
      font-size: 18px;
      white-space: nowrap;
      width: 185px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .price-box {
    width: 80px;
    height: 37px;
  }
}


// large card
.wine-card-large {
  > .img-box {
    padding: 9px;
    > img {
      height: 165px;
    }
  }

  .title-box {
    border-radius: 10px 10px 0px 0px;
    padding-left: 12.5px;
    padding-right: 12.5px;

    > p {
      font-size: 20px;
    }
  }

  .price-box {
    width: 100px;
    height: 39px;
  }

  .find-box {
    padding: 9px;
    background-color: $Grey
  }
}
